
<h1>aqui</h1>

<ul>
    <li *ngFor="let e of employes">
        nombre : {{e.nombre}}
        apellido : {{e.apellido}}
        telefono : {{e.telefono}}
    </li>
</ul>

<ul>
    <li *ngFor="let e of employesAsync | async ">
        nombre : {{e.nombre}}
        apellido : {{e.apellido}}
        telefono : {{e.telefono}}
    </li>
</ul>

<div>
    <form [formGroup]="form.formGroup" (ngSubmit) = "agregarEmpleado()" >

        <input type="text" formControlName="nombre" name="" id="">
        <input type="text" formControlName="apellido" name="" id="">
        <input type="text" formControlName="telefono" name="" id="">

        <button type="submit">Enviar</button>

    </form>
</div>

<router-outlet></router-outlet>
